SHARED DATA "Data\\tweetIM.dll.png"
EN_CONST DATA "Languages\\EN\\Const.lng"
EN_SETTINGSFRM DATA "Languages\\EN\\TSettingsForm.lng"
PL_CONST DATA "Languages\\PL\\Const.lng"
PL_SETTINGSFRM DATA "Languages\\PL\\TSettingsForm.lng"
